{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-teal px-4" style="background-color:#006d6f;">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">Portal.Inmobiliario</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Inicio</a></li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="propertiesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Servicios
                </a>
                <ul class="dropdown-menu" aria-labelledby="propertiesDropdown">
                <li><a class="dropdown-item" href="{% url 'inmueble_list' %}">Busco arriendo</a></li>
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'inmueble_create' %}">Busco arrendar</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Busco arrendar</a></li>
                {% endif %}
                </ul>
            </li>

            <!-- Acerca de -->
            <li class="nav-item"><a class="nav-link" href="{% url 'acerca' %}">Acerca de</a></li>
            <!-- Contacto -->
            <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contáctanos</a></li>

            <!-- Login / Logout -->
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Inicia sesión / Registrate</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
